<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Results</title>
  <link rel="stylesheet" type="text/css" href="semantic.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
    <div class="ui inverted vertical  center aligned segment">
        
            <div class="ui container">
              <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                  <i class="sidebar icon"></i>
                </a>
                <a class="active item">Home</a>
                <a class="item">Work</a>
                <a class="item">Company</a>
                <a class="item">Careers</a>
                <div class="right item">
                  <a class="ui inverted button">Log in</a>
                  <a class="ui inverted button">Sign Up</a>
                </div>
              </div>
            </div>
        
            
        
          </div>
 
    <div class="ui grid container  vertical stripe internally celled ">
            <div class="row">
      <div class="four wide column"><% include sidebar.ejs %></div> 
        <div class="twelve wide column">