 
.App-logo { max-width: 200px; height: auto;
}

.App-header {
  background-color: #222;
  background-image: url('/img/slider/aleksi-tappura-669.jpg');
  background-size: cover;
  padding: 5rem 24px;
  color: white;
  text-shadow: 0 0 24px #333;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} 

.maincontent { padding-top:2rem; padding-bottom: 3rem}
.searchbox { padding-bottom: 1rem;}